
REFERENCE_DATA: /proj/ngi2024001/nobackup/bin/wp3_tc/design_and_ref_files

hydra_local_path: /proj/ngi2024001/nobackup/bin/wp3_tc/{{PIPELINE_VERSION}}/hydra-genetics

resources: config/resources.miarka.yaml

default_container: 'hydragenetics__common_3.1.1.sif'

units: config/units.tsv

output: '{{PATH_TO_REPO}}/config/output_files.yaml'

default_container: '{{APPTAINER_CACHE}}/hydragenetics__common_3.1.1.sif'


modules:
  alignment: v0.7.0
  annotation: v1.2.0
  cnv_sv: v2.0.0
  compression: v2.1.0
  filtering: v1.1.0
  prealignment: v1.4.0
  qc: v0.6.0
  snv_indels: v2.0.0

reference:
  annovar: '{{REFERENCE_DATA}}/marple/annovar/'
  fasta: '{{REFERENCE_DATA}}/marple/reference_grasnatter/homo_sapiens.fasta'
  fai: '{{REFERENCE_DATA}}/marple/reference_grasnatter/homo_sapiens.fasta.fai'
  sites: '{{REFERENCE_DATA}}/marple/reference_grasnatter/homo_sapiens.known_indels.vcf.gz' #Needed?
  design_bed: '{{REFERENCE_DATA}}/marple/Twist_Cancer_230608_hg38_TE-98982205-wPGRS.merged.bed'
  design_intervals: '{{REFERENCE_DATA}}/marple/Twist_Cancer_230608_hg38_TE-98982205-wPGRS.merged.intervals'
  exon_bed: '{{REFERENCE_DATA}}/marple/Twist_Cancer_230602_hg38_coding_exons.bed'
  exon_intervals: '{{REFERENCE_DATA}}/marple/Twist_Cancer_230602_hg38_coding_exons.intervals'
  pgrs_bed: '{{REFERENCE_DATA}}/marple/Twist_Cancer_230707_hg38_pgrs_snps.bed'

trimmer_software: fastp_pe

bwa_mem:
  container: 'hydragenetics__bwa_mem_0.7.17.sif'
  amb: '{{REFERENCE_DATA}}/marple/reference_grasnatter/homo_sapiens.fasta.amb'
  ann: '{{REFERENCE_DATA}}/marple/reference_grasnatter/homo_sapiens.fasta.ann'
  bwt: '{{REFERENCE_DATA}}/marple/reference_grasnatter/homo_sapiens.fasta.bwt'
  pac: '{{REFERENCE_DATA}}/marple/reference_grasnatter/homo_sapiens.fasta.pac'
  sa: '{{REFERENCE_DATA}}/marple/reference_grasnatter/homo_sapiens.fasta.sa'

deepmosaic_draw:
  container: 'library_____sanglee8888__deepmosaic__deepmosaic_sha256.28b3dd3b3ab1daa63b53d627c3fba3e6b4da38447ccdb9c7abc073718ff9453e.sif'

deepmosaic_predict:
  container: 'library_____sanglee8888__deepmosaic__deepmosaic_sha256.28b3dd3b3ab1daa63b53d627c3fba3e6b4da38447ccdb9c7abc073718ff9453e.sif'

deepvariant:
  container: 'hydragenetics__deepvariant_1.4.0.sif'

deepsomatic_t_only:
  container: 'google__deepsomatic_1.8.0.sif'

exomedepth_call:
  container: 'hydragenetics__exomedepth_1.1.15.sif'
  bedfile: '{{REFERENCE_DATA}}/marple/Twist_Cancer_230706_hg38_TE-98982205-wPGRS.merged_200bpwindows.bed'
  exonsfile: '{{REFERENCE_DATA}}/marple/exons_GRCh38_ensembl109.txt'
  genesfile: '{{REFERENCE_DATA}}/marple/genes_GRCh38_ensembl109.txt'

exomedepth_export:
  container: 'hydragenetics__exomedepth_1.1.15.sif'

export_qc_xlsx_report:
  wanted_transcripts: '{{REFERENCE_DATA}}/marple/wanted_transcripts.txt'

fastp_pe:
  container: 'hydragenetics__fastp_0.20.1.sif'

fastqc:
  container: 'hydragenetics__fastqc_0.11.9.sif'

melt:
  container: 'MELT_v2.2.2.sif'
  bed: '{{REFERENCE_DATA}}/marple/melt/Hg38.genes.bed'
  mei: '{{REFERENCE_DATA}}/marple/melt/mei_list.txt'

mosaicforecast_phasing:
  container: 'yanmei__mosaicforecast_hg38_0.0.1.sif'

mosaicforecast_readlevel:
  container: 'yanmei__mosaicforecast_hg38_0.0.1.sif'

mosaicforecast_genotype_prediction:
  container: 'yanmei__mosaicforecast_hg38_0.0.1.sif'
  model_trainedSNP: '{{REFERENCE_DATA}}/marple/150xRFmodel_addRMSK_Refine.rds' # 200xRFmodel_addRMSK_Refine.rds or deletions_250x.RF.rds(phase) or insertions_250x.RF.rds(phase)
  model_trainedINS: '{{REFERENCE_DATA}}/marple/insertions_250x.RF.rds' # 200xRFmodel_addRMSK_Refine.rds or deletions_250x.RF.rds(phase) or insertions_250x.RF.rds(phase)
  model_trainedDEL: '{{REFERENCE_DATA}}/marple/deletions_250x.RF.rds' # 200xRFmodel_addRMSK_Refine.rds or deletions_250x.RF.rds(phase) or insertions_250x.RF.rds(phase)

mosdepth_bed:
  container: 'hydragenetics__mosdepth_0.3.2.sif'

multiqc:
  container: 'hydragenetics__multiqc_1.11.sif'

picard_collect_alignment_summary_metrics:
  container: 'hydragenetics__picard_2.25.4.sif'

picard_collect_duplication_metrics:
  container: 'hydragenetics__picard_2.25.4.sif'

picard_collect_gc_bias_metrics:
  container: 'hydragenetics__picard_2.25.4.sif'

picard_collect_hs_metrics:
  container: 'hydragenetics__picard_2.25.4.sif'

picard_collect_insert_size_metrics:
  container: 'hydragenetics__picard_2.25.4.sif'

picard_collect_multiple_metrics:
  container: 'hydragenetics__picard_2.25.4.sif'

picard_mark_duplicates:
  container: 'hydragenetics__picard_2.25.4.sif'

vep:
  container: 'ensemblorg__ensembl-vep_release_110.1.sif'
  vep_cache: '{{REFERENCE_DATA}}/marple/VEP/'

vt_decompose:
  container: 'hydragenetics__vt_2015.11.10.sif'

vt_normalize:
  container: 'hydragenetics__vt_2015.11.10.sif'
