directory: ./Results
files:
  - name: Alignment cram file
    input: compression/samtools_view/{sample}_N.cram
    output: "{sample}/{sample}_N.cram"

  - name: Alignment crai file
    input: compression/samtools_view/{sample}_N.cram.crai
    output: "{sample}/{sample}_N.cram.crai"

  - name: Config-file
    input: config/config.yaml
    output: "{sequenceid}_config.yaml"

  - name: Deepmosaic prediction txt
    input: "snv_indels/deepmosaic/{sample}_N/final_predictions.txt"
    output: "{sample}/mosaic/{sample}.deepmosaic.txt" 

  - name: DeepSomatic tumour only vcf
    input: "snv_indels/deepsomatic_t_only/{sample}_N_4genes.vcf.gz"
    output: "{sample}/mosaic/{sample}.deepsomatic.4genes.vcf.gz"   

  - name: DeepSomatic tumour only tbi
    input: "snv_indels/deepsomatic_t_only/{sample}_N_4genes.vcf.gz.tbi"
    output: "{sample}/mosaic/{sample}.deepsomatic.4genes.vcf.gz.tbi"   

  - name: DeepSomatic filtered vcf
    input: "snv_indels/bcftools_view/{sample}_N.ds.vcf.gz"
    output: "{sample}/mosaic/{sample}.deepsomatic.4genes_filter.vcf.gz"   

  - name: DeepSomatic filtered tbi
    input: "snv_indels/bcftools_view/{sample}_N.ds.vcf.gz.tbi"
    output: "{sample}/mosaic/{sample}.deepsomatic.4genes_filter.vcf.gz.tbi"   

  - name: MosaicForecast phase
    input: "snv_indels/mosaicforecast_phasing/{sample}_N/all.phasing"
    output: "{sample}/mosaic/{sample}.mosaicforecast.phasing"   

  - name: MosaicForecast DEL predictions
    input: "snv_indels/mosaicforecast_genotype_prediction/{sample}_N.DEL.predictions"
    output: "{sample}/mosaic/{sample}.mosaicforecast.DEL.predictions"   

  - name: MosaicForecast INS predictions
    input: "snv_indels/mosaicforecast_genotype_prediction/{sample}_N.INS.predictions"
    output: "{sample}/mosaic/{sample}.mosaicforecast.INS.predictions"   

  - name: MosaicForecast SNP predictions
    input: "snv_indels/mosaicforecast_genotype_prediction/{sample}_N.SNP.predictions"
    output: "{sample}/mosaic/{sample}.mosaicforecast.SNP.predictions"   

